<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:mvc="http://www.springframework.org/schema/mvc"  
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/mvc
                     http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
<!-- 	<context:component-scan base-package="com.boco.eoms.*.controller" /> -->
	<!-- 启用注解，并定义组件查找规则 ，mvc层只负责扫描@Controller -->
	<context:component-scan base-package="com.boco.eoms.*.controller" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!--静态 资源访问处理器 -->
	<mvc:resources mapping="/resources/**" location="/resources/" cache-period="31556926" />
	<mvc:resources mapping="/views/**" location="/views/" cache-period="31556926" />
	<!--国际化    本地化资源处理器 -->
		<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />
	<!-- 请求拦截器，每一个用户请求都会被拦截 -->
	<mvc:interceptors>
		<bean  class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" /><!--国际化   配置I18N拦截器 -->
	</mvc:interceptors>
	
	<!-- 配置SpringMVC的视图解析器 -->
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager">
			<bean class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
				<property name="mediaTypes">
					<map>
						<entry key="json" value="application/json" />
						<entry key="xml" value="application/xml" />  
					</map>
				</property>
				<property name="defaultContentType" value="text/html"/> <!-- 在没有扩展名时即: "/user/1" 时的默认展现形式 -->
				<property name="favorPathExtension" value="true" /><!-- 用于关闭 /userinfo/123.json 的支持 默认是true -->
				<property name="favorParameter" value="false" /><!-- 用于开启 /userinfo/123?format=json 的支持 默认是true -->
				<property name="ignoreAcceptHeader" value="true" /><!-- 设置为true以忽略对Accept Header的支持 -->
			</bean>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name= "contentType" value= "text/html"/>
					<property name="prefix" value="/views/"></property>
					<property name="suffix" value=".jsp"></property>
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
			   <bean class="org.springframework.web.servlet.view.xml.MarshallingView">  
			      <constructor-arg>  
			          <bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">  
			             <property name="classesToBeBound">  
			              <list>  
			                 <value>com.boco.eoms.tawSystemArea.model.TestXmlModle</value>
			              </list>  
			             </property>  
			          </bean>  
			      </constructor-arg>  
			    </bean>
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
					<property name="prettyPrint" value="true" />
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 
		会自动注册 RequestMappingHandlerMapping 与 RequestMappingHandlerAdapter 两个bean,
		是spring MVC为@Controllers分发请求所必须的。 
		并提供了：数据绑定支持，@NumberFormatannotation支持，@DateTimeFormat支持，@Valid支持，读写XML的支持（JAXB），读写JSON的支持（Jackson） -->
	<mvc:annotation-driven /> 
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>32505856</value><!-- 上传文件大小限制为31M，31*1024*1024 -->
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>
	
	<!-- 缓存配置 -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:spring/ehcache.xml" />
	</bean>

</beans>